<link rel="stylesheet" href="/css/navigation.css">
<header class="main-header">
    <nav>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Main Page</a>
        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
    </nav>
</header>