<form action="/add-to-cart" method="POST">
    <button class="btn">Add to Cart</button>
</form>
<form action="/products/<%= product.id %>" method="GET">
    <input class="btn" type="submit" value="Details">
</form>