<%- include('includes/head.ejs') %>
<body>
    <h1>User Page</h1>
    <% if (users.length > 0) { %>
        <h1><%=users %></h1>
        <ul>
        <% users.forEach((user) => { %>
            <li><%= user.username %></li>
        <% }); %>
        </ul>
    <% } else { %>
        <h1>No User Found</h1>
    <% } %>
</body>
</html>