<%- include('includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/add-product.css">
<body>
<%- include('includes/navigation.ejs') %>
<main>
    <h1>Add Product</h1>
    <form action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title: </label><br>
            <input type="text" name="title" id="title"><br>
        </div>
        <div class="form-control">
            <label for="img_url">Img_url: </label><br>
            <input type="text" name="img_url" id="img_url"><br>
        </div>
        <div class="form-control">
            <label for="price">Price: </label><br>
            <input type="number" name="price" id="price"><br>
        </div>
        <div class="form-control">
            <label for="detail">Detail: </label><br>
            <textarea name="detail" id="detail" cols="30" rows="10"></textarea><br>
        </div>
        <div class="form-control">
            <input class="btn" type="submit" value="Add Product">
        </div>
        
    </form>
</main>
<%- include('includes/foot.ejs') %>